@model IEnumerable<App.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Список студентов</h1>

<p>
    <a asp-action="AddStudent">Добавить студента</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSort"]">@Html.DisplayNameFor(model => model.FirstName)</a>              
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSort"]">@Html.DisplayNameFor(model => model.MiddleName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSort"]">@Html.DisplayNameFor(model => model.LastNAme)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)              
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CallName)
            </th>
            <
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastNAme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CallName)
            </td>
            <td>
                <a asp-action="EditStudent" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Просмотр</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
